@charset "UTF-8";
/*Переменные */
/*Примеси */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrap {
  max-width: 1140px;
  margin: 0 auto;
}

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.big-conteiner {
  max-width: 1600px;
  margin: 0 auto;
}

/*.offer-conteiner {
background-color: #F1E4E6;
}*/
.video {
  width: 100%;
  height: 30%;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
}

button, input {
  font-family: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Шапка */
.header {
  background-color: #222222;
  color: #fff;
  padding: 18px 0;
}

.header-search {
  fill: #E8E8E8;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.header-search:hover {
  fill: #F16D7F;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.header-humen {
  fill: #E8E8E8;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.header-humen:hover {
  fill: #F16D7F;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.header-ikon-strips {
  fill: #E8E8E8;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.header-ikon-strips:hover {
  fill: #F16D7F;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.header-logo {
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.header-logo:hover {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo-link {
  margin-right: 40px;
}

.header-strips-link {
  margin-right: 30px;
}

.header-humen-link {
  margin-right: 30px;
}

.inner-title {
  background-color: #F8F3F4;
  height: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.offer-men {
  background-image: url(../img/foto-offer-men.png);
  background-repeat: no-repeat;
  width: 50%;
}

.offer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 764px;
  background-position: center;
  background-size: cover;
}

.offer-text {
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
}

.offer-heading {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
}

.offer-depiction {
  font-weight: 700;
  font-size: 37px;
  line-height: 44.4px;
}

.offer-col-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 92px;
}

.offer-fashion-pink {
  color: #F16D7F;
  margin-left: 10px;
}

.offer-line-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner-title {
  background-color: #F1E4E6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 148px;
}

.new-arrivals {
  color: #F16D7F;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
}

.wrap-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.breadcrumbs-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

.breadcrumbs-item::before {
  content: '/';
  color: #636363;
  margin-right: 5px;
}

.breadcrumbs-item:first-child::before {
  display: none;
}

.breadcrumbs-link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.breadcrumbs-link--current {
  font-weight: bold;
  color: #F16D7F;
}

.breadcrumbs-link[href]:hover {
  text-decoration: underline;
  color: #F16D7F;
}

.hidden {
  width: 1px;
  height: 1px;
  position: absolute;
  left: -99999px;
  margin: -1px;
}

.categories {
  margin-top: 65px;
  margin-bottom: 102px;
  background-color: #fff;
}

.categories-wrap {
  list-style: none;
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.categories-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.categories-heading {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
}

.categories-depiction {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  color: #F16D7F;
}

.categories-assambly {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #C4C4C4;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  width: 360px;
  height: 260px;
  padding: 20px;
}

.categories-link {
  padding: 100px 100px;
}

.categories-women {
  background-image: url(../img/categories-women1.png);
}

.categories-men {
  background-image: url(../img/categories-men1.png);
}

.categories-kids {
  background-image: url(../img/categories-kids1.png);
}

.categories-accesories {
  width: 1140px;
  height: 180px;
  background-image: url(../img/categories-accesories1.png);
}

.products {
  background-color: #fff;
}

.filter {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.filter-col-rigth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0;
  background-color: #fff;
}

.ikon-filter {
  fill: black;
  margin-left: 10px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.filter-drop-heading {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  border-bottom: 1px solid #EBEBEB;
  border-left: 5px solid #f16d7f;
  padding-left: 11px;
  padding-top: 11px;
  padding-bottom: 11px;
  margin-bottom: 18px;
}

.filter-drop-heading-activ {
  color: #f16d7f;
  margin-top: 16px;
}

.filter-drop-width {
  width: 360px;
  padding-right: 16px;
  z-index: 1;
  background-color: #fff;
}

details {
  position: relative;
}

.filter-drop {
  position: absolute;
  width: 360px;
  background-color: #fff;
  padding-left: 16px;
}

summary {
  display: block;
  cursor: pointer;
}

details[open] summary {
  color: #f16d7f;
  fill: #f16d7f;
  padding-left: 15px;
  width: 360px;
  -webkit-filter: drop-shadow(4px 0px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(4px 0px 4px rgba(0, 0, 0, 0.25));
}

details[open] .filter-drop {
  -webkit-filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}

details[open] summary svg {
  fill: #f16d7f;
}

.filter-list {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  padding-left: 15px;
  padding-bottom: 16px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.filter-list:active {
  color: #f16d7f;
}

.filter-list:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.sort-filter {
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  margin-left: 23px;
  margin-right: 11px;
}

.size-drop-box {
  position: relative;
}

.size-drop-title {
  background-color: #fff;
  cursor: pointer;
}

.size-drop-content {
  position: absolute;
  background-color: #fff;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  width: 79px;
  padding-top: 9px;
  padding-left: 9px;
  padding-bottom: 2px;
}

.size-drop-box:hover .size-drop-content {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  z-index: 1;
  -webkit-animation: shadow-drop-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: shadow-drop-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}

@keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}

.size-block-item input {
  margin-right: 9px;
  width: 13px;
  height: 13px;
  border: 1px solid #6F6E6E;
}

.box-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.size-block-item {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #6F6E6E;
  margin-bottom: 10px;
}

.introduction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.introduction-heading {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  margin-bottom: 6px;
}

.introduction-depiction {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
}

.product-filtration {
  width: 100%;
  padding-top: 49px;
}

.card-heading {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin-bottom: 12.65px;
}

.card-depiction {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  margin-bottom: 18px;
}

.price-product {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.products-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 114px;
}

.card-product {
  background-color: #F8F8F8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 360px;
  height: 581px;
  margin-bottom: 30px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  position: relative;
}

.card-product:hover {
  background-color: #dfdfdf48;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.card-product:hover .products-overlay {
  /* display: flex; */
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.products-overlay {
  background-color: rgba(58, 56, 56, 0.86);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* display: none; */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: opacity 0.3s ease-out, -webkit-transform 0.4s ease-out;
  transition: opacity 0.3s ease-out, -webkit-transform 0.4s ease-out;
  transition: opacity 0.3s ease-out, transform 0.4s ease-out;
  transition: opacity 0.3s ease-out, transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
  -webkit-transform-origin: center top;
          transform-origin: center top;
}

.product {
  width: 360px;
  height: 420px;
}

.products-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 48px;
  margin-top: 47px;
  width: 100%;
}

.btn-add {
  font-family: inherit;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-size: 14px;
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding: 10px 15px 8px 12px;
  cursor: pointer;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.btn-add:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.text-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 25.35px;
  margin-bottom: 20px;
  margin-left: 16px;
  margin-right: 28.8px;
}

.item-catalog {
  background-color: #F7F7F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #EAEAEA;
}

.item-product {
  width: 597px;
  height: 727px;
  margin-bottom: 45px;
}

.item-btn {
  width: 45px;
  height: 47px;
  padding: 8px 8px 8px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: inherit;
  border: none;
}

.all-products {
  color: #FF6A6A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 212px;
  height: 48px;
  font-family: inherit;
  border: none;
  outline: 1px solid #FF6A6A;
  background-color: #fff;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-content: center;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  cursor: pointer;
  font-family: inherit;
  color: #FF6A6A;
  display: flex;
  justify-content: center;
  font-size: 16px;
  line-height: 19px;
}

.all-products:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.background-button-products {
  width: 212px;
  height: 48px;
  font-family: inherit;
  border: none;
  outline: 1px solid #FF6A6A;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  color: #FF6A6A;
  display: flex;
  justify-content: center;
  font-size: 16px;
  line-height: 19px;
}

.background-button-products:hover {
  background-color: #F16D7F;
  color: #fff;
}

.link-catalog {
  text-decoration: none;
}

.pagination-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.pagination-list {
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 21px;
  border: 1px solid #EBEBEB;
  border-radius: 5px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination-link--center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.arrow-pagination {
  width: 7px;
  height: 14px;
}

.pagination-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item-arrow {
  fill: #000000;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  cursor: pointer;
}

.item-arrow:hover {
  fill: #F16D7F;
}

.item-btn-left {
  margin-right: 8px;
}

.item-btn-right {
  margin-left: 8px;
}

.pagination-item--separator {
  margin: 0 -10px;
  color: gray;
}

.link-item {
  font-family: inherit;
  border: none;
}

.pagination-link {
  color: #c2c2c2;
  background-color: #fff;
  font-family: inherit;
  border: none;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.pagination-link:hover {
  background-color: #bbbbbb3f;
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
  color: #9e9e9e;
}

.pagination-link--active {
  color: #F16D7F;
}

/*Описание продукта каталога*/
.slider {
  height: 601px;
  background-color: #fff;
  border: 1px solid #EAEAEA;
  margin-top: -50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation: flip-in-hor-bottom 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: flip-in-hor-bottom 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slider-box {
  border-bottom: 1px solid #EAEAEA;
  width: 640px;
  height: 357px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 66px;
  margin-top: 63px;
}

.slider-strip {
  margin-top: 13px;
  margin-bottom: 16px;
}

.slider-heading {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  text-align: center;
}

.slider-description {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  text-align: center;
}

.slider-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5E5E5E;
  margin-top: 50px;
  margin-bottom: 40px;
  width: 555px;
}

.slider-price {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
  margin-bottom: 63px;
}

.slider-button {
  margin-top: 51px;
  margin-bottom: 65px;
}

.slider-all {
  padding-top: 17px;
  padding-bottom: 14px;
}

.slider-svg-indent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@-webkit-keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
            transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    opacity: 1;
  }
}

@keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
            transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    opacity: 1;
  }
}

.cart-ikon {
  margin-right: 23px;
  margin-left: 23px;
  fill: #EF5B70;
}

/* Страница регистрации */
.registration {
  margin-top: 62px;
  margin-bottom: 82px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.loyalty {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.loyalty-heading {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  margin-bottom: 22px;
}

.loyalty-description {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  margin-bottom: 22px;
}

.loyalty-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.loyalty-list-item {
  font-family: inherit;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  margin-bottom: 15px;
}

.check-mark {
  margin-right: 25px;
}

/* Форма*/
.regform {
  width: 31.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.form-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  border: none;
}

.form-button {
  padding: 18px 23px;
  background-color: #F16D7F;
  border: none;
  border-radius: 0 20px 20px 0;
  color: #fff;
}

.form-input {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  border: 1px solid #A4A4A4;
  padding-top: 14px;
  padding-left: 16px;
  padding-bottom: 13px;
  margin-top: 20px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.form-input:focus {
  outline: #F16D7F;
}

.form-input:hover {
  color: #F16D7F;
}

.form-line-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.regform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.text-form {
  margin-bottom: 38px;
  margin-top: 17px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.headding-input {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.radio {
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  margin-bottom: 32px;
  margin-right: 20px;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  gap: 10px;
}

.radio:hover {
  color: #F16D7F;
}

.button-join {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  background-color: #f16d7f;
  border: none;
  padding: 19px 28px 19px 28px;
  cursor: pointer;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.button-join:hover {
  background-color: #E05C6E;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.arrow-join {
  margin-left: 20px;
  fill: #fff;
}

/*Приемущества */
.advantages {
  background-color: #222224;
  height: 343px;
  padding-top: 105px;
}

.advantages-wrap {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.adv-ikon-car {
  background-image: url(../img/ikon-car.png);
  width: 45px;
  height: 32px;
}

.adv-ikon-sales {
  background-image: url(../img/ikon-sales.png);
  width: 40px;
  height: 40px;
}

.adv-ikon-quality {
  background-image: url(../img/ikon-diadem.png);
  width: 47px;
  height: 35px;
}

.advantages-col-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages-col-1, .advantages-col-2 {
  margin-right: 90px;
}

.advantages-text {
  width: 302px;
  height: 67px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 22.75px;
}

.advantages-text-delivery {
  margin-top: 17px;
}

.advantages-heading {
  font-size: 19.96px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  margin-top: 25px;
  margin-bottom: 15px;
}

.advantages-depiction {
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #fff;
}

/* Подписка */
.subscrine {
  background-color: #C4C4C4;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.subscrine-wrap {
  display: block;
  position: absolute;
  right: 0;
}

.subscrine-heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 40.13px;
  text-align: center;
  color: #222224;
}

.subscrine-depiction {
  font-weight: 400;
  font-size: 18px;
  line-height: 30.1px;
  text-align: center;
  color: #222224;
  margin-bottom: 32px;
}

.subscrine-col-1 {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subscrine-form {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subscrine-col-2 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 154px;
  width: 577px;
  height: 142px;
  padding-top: 160px;
}

.subscrine-reletive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.txt-reviews {
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
  margin-top: 30px;
  text-align: center;
  color: #222224;
}

.reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 255px;
  width: 360px;
  padding-top: 97px;
}

.depiction-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.search-bar {
  background-color: #E1E1E1;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-right: 134px;
  padding-left: 22px;
  border-radius: 30px 0 0 30px;
  color: #222222;
  opacity: 0.67;
  font-size: 14px;
  line-height: 17px;
  border-width: 0;
  outline: none;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.search-bar:hover {
  outline: 1px solid #F16D7F;
}

.search-bar:focus {
  outline: 1px solid #222224;
}

.search-bar-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.button-subscribe {
  background-color: #F16D7F;
  padding: 18px 21px;
  border-radius: 0 30px 30px 0;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  font-family: inherit;
  border: none;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.button-subscribe:hover {
  background-color: #E05C6E;
}

.foto-surfer {
  background-image: url(../img/foto-surfer1.png);
  width: 100%;
  height: 448px;
}

/* Подвал*/
.footer {
  background-color: #222224;
}

.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-col-1 {
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
  margin: 30px 0;
}

.footer-col-2 {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.footer-link {
  background-color: #fff;
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #000;
  font-size: 18px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.footer-link:hover {
  background-color: #F16D7F;
  color: #fff;
}

/* Tablet */
/* @media (max-width: 1180px){
.wrap {
width: 735px;
}

.big-conteiner {
max-width: 1180px;
}

}

/* Mobile */
/*
@media (max-width: 767px) {
.wrap {
width: 360px;
}

.big-conteiner {
max-width: 767px;
}

} */
/*# sourceMappingURL=style.css.map */