.advantages {
background-color: $black-color;
height: 343px;
padding-top: 105px;

&-wrap {
@include list-none();
display: flex;
justify-content: space-around;
align-items: center;
list-style-type: none;
background-repeat: no-repeat;
background-position: center;
background-size: contain;
}
}

.adv-ikon-car {
background-image: url(../img/ikon-car.png);
width: 45px;
height: 32px;
background-repeat: no-repeat;
}

.adv-ikon-sales {
background-image: url(../img/ikon-sales.png);
width: 40px;
height: 40px;
background-repeat: no-repeat;
}

.adv-ikon-quality {
background-image: url(../img/ikon-diadem.png);
width: 47px;
height: 35px;
background-repeat: no-repeat;
}

.advantages-col-center{
display: flex;
flex-direction: column;
align-items: center;
}
.advantages-col-1, .advantages-col-2 {
margin-right: 90px;
}

.advantages-text{
width: 302px;
height: 67px;
display: flex;
flex-direction: column;
margin-top: 22.75px;
}

.advantages-text-delivery {
margin-top: 17px;
}

.advantages-heading {
font-size: 19.96px;
line-height: 24px;
text-align: center;
color: $white-color;
margin-top: 25px;
margin-bottom: 15px;
}

.advantages-depiction {
font-weight: 300;
font-size: 13.972px;
line-height: 17px;
text-align: center;
color: $white-color;
}