.header {
background-color: $black1-color;
color: $white-color;
padding: 18px 0;
}

.header-search {
fill: $gray2-color;
transition-duration: 0.7s;

&:hover {
fill: $pink-color;
transform: scale(1.02);
}
}

.header-humen {
fill: $gray2-color;
@include transition();

&:hover {
fill: $pink-color;
transform: scale(1.02);
}
}

.header-ikon-strips {
fill: $gray2-color;
@include transition();

&:hover {
fill: $pink-color;
transform: scale(1.02);
}
}

.header-logo {
    transition-duration: 0.7s;

    &:hover {
        transform: rotateY(360deg);
    }
}

.header-wrap {
display: flex;
justify-content: space-between;
align-items: center;
}

.header-logo-link {
margin-right: 40px;
}

.header-strips-link {
margin-right: 30px;
}

.header-humen-link {
margin-right: 30px;
}