.header {
background-color: $black1-color;
color: $white-color;
padding: 18px 0;
}

.header-search {
fill: $gray2-color;

&:hover {
fill: $pink-color;
}
}

.header-humen {
fill: $gray2-color;

&:hover {
fill: $pink-color;
}
}

.header-ikon-strips {
fill: $gray2-color;

&:hover {
fill: $pink-color;
}
}

.header-wrap {
display: flex;
justify-content: space-between;
align-items: center;
}

.header-logo-link {
margin-right: 40px;
}

.header-strips-link {
margin-right: 30px;
}

.header-humen-link {
margin-right: 30px;
}