.subscrine {
background-color: $gray-color;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
box-sizing: border-box;

&-wrap {
display: block;
position: absolute;
right: 0;
}

&-heading {
font-weight: 700;
font-size: 24px;
line-height: 40.13px;
text-align: center;
color: $black-color;
}

&-depiction {
font-weight: 400;
font-size: 18px;
line-height: 30.1px;
text-align: center;
color: $black-color;
margin-bottom: 32px;
}

&-col-1 {
width: 50%;
display: flex;
justify-content: center;
}

&-form {
width: 50%;
display: flex;
flex-direction: row;
justify-content: center;
}

&-col-2 {
position: relative;
display: flex;
align-items: center;
flex-direction: column;
margin-bottom: 154px;
width: 577px;
height: 142px;
padding-top: 160px;
}

&-reletive{
display: flex;
align-items: center;
}
}

.txt-reviews {
font-size: 20px;
font-style: italic;
font-weight: 400;
line-height: 24px;
color: $black-color;
margin-top: 30px;
text-align: center;
}

.reviews {
display: flex;
flex-direction: column;
align-items: center;
position: relative;
height: 255px;
width: 360px;
padding-top: 97px;
}

.depiction-button {
display: flex;
flex-direction: column;
}

.search-bar {
background-color: $gray1-color;
padding-top: 18px;
padding-bottom: 18px;
padding-right: 134px;
padding-left: 22px;
border-radius: 30px 0 0 30px;
color: $black1-color;
opacity: 0.67;
font-size: 14px;
line-height: 17px;
border-width: 0;
outline: none;

&:hover {
outline: 1px solid $pink-color;
}

&:focus {
outline: 1px solid $black-color;
}

}

.button-subscribe{
background-color: $pink-color;
padding: 18px 21px;
border-radius: 0 30px 30px 0;
color: $white-color;
font-weight: 400;
font-size: 14px;
line-height: 17px;
@include button-none();

&:hover{
background-color: #f16d7fe5 ;
}
}

.foto-surfer {
background-image: url(../img/foto-surfer1.png);
width: 100%;
height: 448px;
}